<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/js/functions.js"></script>
    <script src="../static/js/Principal.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <title>Tela de Cadastro de Encartes</title>

    <!-- Última versão CSS compilada e minificada -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Tema opcional -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Última versão JavaScript compilada e minificada -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
            
       <script>
		$(document).ready(function(){
		   document.querySelector("marketcredent").innerHTML = "<div>" + getCookie("name_market") + "</div>";
		});
	</script>
</head>
<style>
	body { 
   background-image: url('http://2.bp.blogspot.com/_lS-sZAoamTA/TQurXJpI6wI/AAAAAAAAAyY/rMjAod8Xam8/s1600/re.jpg'); 
   } </style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/mercado">Encarte Digital</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
    </div>
</nav>
<br><br><br>
<div class="container" method="post" name="myform">
   <div class="jumbotron">
<h1>Tela de Cadastro de Encartes</h1>
<br>
    
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Nome do Encarte</span>
            <input type="text" class="form-control" placeholder="Nome" name="name" id="name">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Descrição</span>
            <input type="text" class="form-control" placeholder="Descrição" name="description" id="description">
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Data</span>
            <input type="date" class="form-control" placeholder="Data" name="data" id="data" > <!--max="2018-12-31"> -->
        </div>
        <br>	
        <div class="input-group">
            <span class="input">Categoria: </span>
            <label class="radio-inline"><input type="radio" name="type" value="Mercado">Mercado</label>
            <label class="radio-inline"><input type="radio" name="type" value="Vestuario">Vestuario</label>
            <label class="radio-inline"><input type="radio" name="type" value="Ferragem">Ferragem</label>
            <label class="radio-inline"><input type="radio" name="type" value="Eletronicos">Eletronicos</label>
        </div>
        <br>	
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon4">Picture</span>
            <input type="text" class="form-control" placeholder="Picture" name="picture" id="picture">
        </div>
        <br>
        <div class="input-group">
            <span class="input">Status: </span>
            <label class="radio-inline"><input type="radio" name="status" value="Ativado" checked>Ativar</label>
            <label class="radio-inline"><input type="radio" name="status" value="Desativado">Desativar</label>
            </div>
        <br>	
        <div class="alert alert-info">
  			<strong>Estabelecimentos:  </strong> 
  			<marketcredent></marketcredent>
		</div>
        <main6></main6>
        <br>
        <button class="btn btn-lg btn-primary btn-block" onclick="createAndSendEncarte()">Adicionar Encarte</button>
        </button>
    
</div>


</body>

</html>